<h1>Cadastrar categoria</h1>
<form action="/categorias/create" method="POST">
    <div class="form-group">
        <label for="nome">Nome da marca do produto</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da categoria" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
